* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: #1f2937;
  background-image: url(imgs/holoearth.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.sidebar .sidebar-banner,
.sidebar .sidebar-footer {
  width: 100%;
  color: white;
  text-align: center;
}

.sidebar .sidebar-banner {
  padding: 1rem;
}

.sidebar .sidebar-footer {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.content > div {
  flex: 1;
}

.content-container {
  width: min(50rem, 100%);
  height: 100%;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.content-header .content-container {
  font-size: 1.5rem;
  padding-bottom: 3rem;
  justify-content: flex-end;
}

.content-body .content-container,
.content-footer .content-container {
  padding-top: 1.5rem;
}

.content-footer button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form .form-row-container {
  display: flex;
  gap: 2.5rem;
}

.form .form-control-container {
  width: max(10rem, 40%);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form input {
  padding: 5px;
  appearance: none;
  border-radius: 5px;
}