* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: #1f2937;
  background-image: url(imgs/holoearth.png);
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
}

.sidebar .sidebar-banner,
.sidebar .sidebar-footer {
  width: 100%;
  color: white;
  text-align: center;
}

.sidebar .sidebar-banner {
  padding: 1rem;
}

.sidebar .sidebar-footer {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  color: #063f5c;
  background-image: url(imgs/background.png);
}

.content > div {
  flex: 1;
}

.content-container {
  width: min(50rem, 100%);
  height: 100%;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.content-header {
  background: linear-gradient(rgba(67, 197, 245, 0.5), rgba(255, 255, 255, 1));
}

.content-header .content-container {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 3rem;
  justify-content: flex-end;
}

.content-body .content-container,
.content-footer .content-container {
  padding-top: 1.5rem;
}

.content-footer {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(67, 197, 245, 0.5));
}

.content-footer button {
  color: white;
  background-color: #287bfe;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 36px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s;
}

.content-footer button:hover {
  cursor: pointer;
  background-color: #0d47a3;
}

.content-footer a {
  color: #287bfe;
  font-weight: bold;
}

.content-footer a:hover {
  text-decoration: none;
}

.content-body p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form .form-row-container {
  display: flex;
  gap: 3rem;
}

.form .form-control-container {
  min-width: max(10rem, 40%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 2px;
}

.form-control-container > div {
  display: flex;
}

.form label {
  text-wrap: nowrap;
  text-transform: uppercase;
}

.form input {
  width: 100%;
  padding: 10px;
  appearance: none;
  border: 1px solid #e5e7e8;
  border-radius: 5px;
  outline: none;
  letter-spacing: inherit;
}

input + span::before,
input + span::after {
  opacity: 0;
  margin: 5px;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

input + span::before {
  color: lightgreen;
  content: "\e86c";
}

input + span::after {
  color: red;
  content: "\e5c9";
}

.form input:focus {
  border-color: #43c5f5;
  box-shadow: -1px 2px 4px 2px rgba(67, 197, 245, 0.5);
}

input:not(:focus):not(:placeholder-shown):valid,
.interacted:not(:placeholder-shown):valid {
  border-color: lightgreen;
}

input:not(:focus):not(:placeholder-shown):invalid,
.interacted:not(:placeholder-shown):invalid {
  border-color: red;
}

input:not(:focus):not(:placeholder-shown):valid + span::before,
.interacted:not(:placeholder-shown):valid + span::before {
  opacity: 1;
}

input:not(:focus):not(:placeholder-shown):invalid + span::after,
.interacted:not(:placeholder-shown):invalid + span::after {
  opacity: 1;
}